<div class="col-2">
    <ul class="list-group">
        <a href="/admin/dashboard" class="list-group-item <%= title == 'Dashboard' ? 'active' : ''%>">Dashboard</a>
        <a href="/admin/task" class="list-group-item <%= title == 'Task' ? 'active' : ''%>">Tasks</a>
        <a href="/admin/social" class="list-group-item <%= title == 'Social' ? 'active' : ''%>">Social</a>
        <hr>
        <a href="/logout" class="list-group-item list-group-item-danger">Logout</a>
    </ul>
</div>